.movieContainer{
    height:430px;
    width:295px;
    border:1px solid red;
    margin-bottom: 2%;
    margin-top: 1%;
    border-radius: 5%;
    margin-left: 2px;
}
.moviePoster{
    height:300px;
    width:295px;
    border-radius: 5%;
}
*{
    padding: 0;
    margin:0;
}
.movieSummary{
    overflow: hidden;
    height: 75px;
}
.movieSpecs{
    display: flex;
    justify-content: space-between;
}
.App{
    display: flex;
    flex-wrap: wrap;
    gap:10px
}
